<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
    <h2>Prueba de Thymeleaf</h2>
    <p th:text="${msg}"></p>
    <p th:text="${saludo}"></p>

    <div th:if="${personas != null and !personas.empty}"></div>
         <table>
             <tr>
                 <th>Nombre</th>
             </tr>

             <tbody th:each="persona: ${personas}">
                <tr>
                    <td th:text="${persona.nombre}"></td>
                </tr>
             </tbody>
         </table>
    <div th:if="${personas == null or personas.empty}">
        No hay personas
    </div>

</body>
</html>